page-home {

}

.swiper-button-prev{
    margin-left: -8px;
    height: 22px;
}
.swiper-button-next{
    margin-right: -8px;
    height: 22px;
}

.toolbar-md {
    min-height: 35px !important;
}

ion-item-sliding{
    min-height: 56px;
}
