<ion-header>
  <ion-navbar>
    <ion-title>
      Today's Actions</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab top right edge>
            <button ion-fab color="vibrant" mini><ion-icon name="add"></ion-icon></button>
          </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides (ionSlideDidChange)="getActions()">
          <ion-slide *ngFor="let emp of absentemployees">
            <ion-list>
              <ion-item>
                <ion-icon name='keypad' item-start style="color:red"></ion-icon>
                <h2>Personal Code</h2>
                <h2 item-end>{{emp.personalCode}}</h2>
              </ion-item>
              <ion-item>
                <ion-icon name='contact' item-start style="color:violet"></ion-icon>
                <h2>Name</h2>
                <h2 item-end>{{emp.name}}</h2>
              </ion-item>
              <ion-item>
                <ion-icon name='cube' item-start style="color: indigo"></ion-icon>
                <h2>Department</h2>
                <h2 item-end>{{emp.department}}</h2>
              </ion-item>
              <ion-item>
                <ion-icon name='calendar' item-start style="color: green"></ion-icon>
                <h2>Leave Start Date</h2>
                <h2 item-end>{{emp.leaveStartDate}}</h2>
              </ion-item>
              <ion-item>
                <ion-icon name='calculator' item-start style="color:yellow"></ion-icon>
                <h2>Leave Percentage</h2>
                <h2 item-end>{{emp.leavePercentage}}%</h2>
              </ion-item>
            </ion-list>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>Actions</ion-title>
        <ion-list>
          <ion-item-sliding *ngFor="let act of actions">
            <ion-item>
              <ion-icon name='flash' item-start style="color: #c40a1b"></ion-icon>
              <h2>{{act.title}}</h2>
              <p>Used {{act.usageCount}} times</p>
              <ion-badge color="secondary" ng-show="act.isSuggested">
                <ion-icon name="flash"></ion-icon>
                Suggessted
              </ion-badge>
            </ion-item>
            <ion-item-options side="right">
                <button color="primary" ion-button (click)="presentActionSheet(item)">
                    <ion-icon name="menu"></ion-icon>
                    More
                  </button>
              <a href="tel:{{currentEmployee.contactnumber}}" color="primary" ion-button>
                  <ion-icon name="call"></ion-icon>
                  Call
              </a>
              <button color="secondary" ion-button (click)="removeAction(act)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    Mark Done
                  </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button color="danger" ion-button (click)="removeAction(act)">
                  <ion-icon name="close-circle"></ion-icon>
                  Delete
                </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>